<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Web Audio Band</title>

  <meta name="author" content="Eduardo Shiota Yasuda">
  <meta name="description" content="Web Audio API-based and Websockets experiment">
  <meta name="viewport" content="initial-scale=1, width=device-width">

  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="container">
    <div id="stage">
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/application.js"></script>
</body>

</html>
