<div class="bass-sequencer sequencer track">
  <div class="track-content">
    <h3 class="track-title">Bass sequencer</h3>

    <button class="close" data-close-instrument>X</button>

    <table>
      {{> sequencer_header}}

      <tbody>
        <tr data-note="C2">
          <td>C2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="C#2">
          <td>C#2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="D2">
          <td>D2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="D#2">
          <td>D#2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="E2">
          <td>E2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="F2">
          <td>F2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="F#2">
          <td>F#2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="G2">
          <td>G2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="G#2">
          <td>G#2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="A2">
          <td>A2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="A#2">
          <td>A#2</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="B2">
          <td>B2</td>
          {{> sequencer_switches_row}}
        </tr>
      </tbody>
    </table>
  </div>
</div>