<div class="track">
  <div class="drums track-content" id="{{type}}-{{id}}">
    <h3 class="track-title">Drums</h3>

    <div>
      <button data-instrument="kick">Kick</button>
      <button data-instrument="snare">Snare</button>
      <button data-instrument="tom_hi">Hi Tom</button>
      <button data-instrument="tom_low">Low Tom</button>
      <button data-instrument="hihat_open">Hi Hat Open</button>
      <button data-instrument="hihat_closed">Hi Hat Closed</button>
      <button data-instrument="trash">Trash</button>
    </div>
  </div>
</div>