<div class="instrument-page">
  <div class="instrument-selector-track">
    <div class="instrument-selector" data-instrument-selector>
    </div>
  </div>

  <div class="instrument" data-instrument>
  </div>
</div>
