<div class="remote-drums-host track">
  <div class="track-content">
    <h3 class="track-title">Remote Drums</h3>

    <button class="close" data-close-instrument>X</button>

    <p data-status>Awaiting connection</p>
  </div>
</div>