<div class="synth-sequencer sequencer track">
  <div class="track-content">
    <h3 class="track-title">Synth sequencer</h3>

    <button class="close" data-close-instrument>X</button>

    <table>
      {{> sequencer_header}}

      <tbody>
        <tr data-note="C3">
          <td>C3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="C#3">
          <td>C#3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="D3">
          <td>D3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="D#3">
          <td>D#3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="E3">
          <td>E3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="F3">
          <td>F3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="F#3">
          <td>F#3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="G3">
          <td>G3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="G#3">
          <td>G#3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="A3">
          <td>A3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="A#3">
          <td>A#3</td>
          {{> sequencer_switches_row}}
        </tr>

        <tr data-note="B3">
          <td>B3</td>
          {{> sequencer_switches_row}}
        </tr>
      </tbody>
    </table>
  </div>
</div>