/*******************************************************************************
*
*  Base - Variables
*
*  All constants that will be used though the styles must be
*  defined here.
*
*******************************************************************************/

/*********************************************************************
*  =Colors
*********************************************************************/

$TEXT_COLOR           : #555 !default;
$LINK_COLOR           : #2d96d1 !default;

$SELECTION_BACKGROUND : #4cabdb !default;
$SELECTION_COLOR      : #fff !default;

/*********************************************************************
*  =Grid and typography
*********************************************************************/
$CONTEXT_FONT_SIZE    : 16px !default;
$CONTEXT_SITE_WIDTH   : 1000px  !default;
